header, main, nav, footer{
    max-width: 71.25rem;
    margin: auto;
}


nav ul li a{
    padding: .5rem 1rem;
}

nav {
    ul{
        justify-content: flex-start;
        border: none;
        margin: auto;
    }
    ul li a{
        margin: auto;
    }
}

div.figureGallery figure{
    flex-basis: 20%;
}