header{
    padding: 2rem $gutter;
    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1.5rem;
    }
}

nav{
    ul{
        display: flex;
        justify-content: space-between;
    }
    ul li a{
        border: none;
        text-align: center;
    }
}

div.figureGallery figure{
    flex-basis: 25%;
}