$primaryColor: #db0000;
$secondaryColor: #ffa500;
$textcolor: #222;
$menucolor: #C7372F;

$defaultfont:  'Oswald', sans-serif;
$lightweight: 300;
$normalweight: 500; 
$boldweight: 700;

$gutter: 16px;